<div class="modal-header">
  <div class="modal-title">在线编辑文档</div>
</div>
<object id=WebOffice1 height=768 width='100%' style='LEFT: 0px; TOP: 0px'
  classid='clsid:E77E049B-23FC-4DB8-B756-60529A35FAD5' codebase='WebOffice.cab#Version=7,0,1,0'>
  <param name='_ExtentX' value='6350'>
  <param name='_ExtentY' value='6350'>
</object>
<div class="modal-footer">
  <button nz-button type="button" nzType="primary" (click)="save()">保存</button>
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
